{% extends 'base.html' %}
{% load widget_tweaks %}

{% block main %}
<div>
    <h3>
        Add New Customer
    </h3>
      <form method="POST" action="{% url 'add-customer' %}" autocomplete='off'>
        {% csrf_token %}

        <div class="form-group mb-3">
            <label class="form-label">{{ form.first_name.label_tag }}</label>
            {% render_field form.first_name class="form-control" %}
            <label class="form-label">{{ form.last_name.label_tag }}</label>
            {% render_field form.last_name class="form-control" %}
            <label class="form-label">{{ form.address.label_tag }}</label>
            {% render_field form.address class="form-control" %}
            <label class="form-label">{{ form.city.label_tag }}</label>
            {% render_field form.city class="form-control" %}
            <label class="form-label">{{ form.state.label_tag }}</label>
            {% render_field form.state class="form-select" %}
            <label class="form-label">{{ form.zipcode.label_tag }}</label>
            {% render_field form.zipcode class="form-control" %}
        </div>
        
        <button type="submit" class="btn btn-success mt-2">
            Save
        </button>
    </form>
</div>
{% endblock main %}